<footer class="site-footer">
    <hr class="divider">
    <div class="row footer">
        <div class="col">
            <span class="title h4">Turn your digital dreams into reality.</span>
        </div>
        <div class="col">
            <nav>
                <a href="/">Home</a>
                <a href="/work">Work</a>
                <a href="/about">About</a>
                <a href="/assets/aljon-preza-resume-2023.pdf" target="_blank">Resume</a>
                <a href="mailto:aljonpreza@gmail.com">Email</a>
                <a href="https://www.linkedin.com/in/aljonpreza/" target="_blank">LinkedIn</a>
            </nav>
        </div>
    </div>
</footer>