<header class="site-header" role="banner">
    <div class="nav-container">
        <a class="site-title" rel="author" href="/">Aljon Preza</a>
        <nav>
            {% for item in site.data.navigation %}
            <a class="page-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
            {% endfor %}
            <a href="mailto:aljonpreza@gmail.com">Contact</a>
            <a id="theme-toggle" onclick="modeSwitcher()"></a>
        </nav>
    </div>
    <hr>
</header>