---
---
@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$heading-font: 'Space Grotesk', serif;
$body-font: 'Inter', sans-serif;
$laptop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 425px;
$transition: all 0.3s;
$padding: 2rem;
$inner-padding: 1rem;
$gap: 2rem;
$horizontal-padding: $gap;
$vertical-padding: $gap*4;
$border-radius: 1.5rem;
$max-width: 1520px;
$header-size: 80px;
$character-width: 60ch;

/* Functions */
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

/** Color Styles **/
$black: rgb(23, 23, 23);
$white: #ffffff;
$border-color: tint($black, 90%);
$subtitle-color: tint($black, 30%);
$subheading-color: tint($black, 60%);
$heading-color: $black;
$body-color: $black;
$background-hover: tint($black, 8%);

/* Gradient Colors */
$red: #f00d4c;
$orange: #fe9000;
$yellow: #fff020;
$green: #3edf4b;
$blue: #3363ff;
$purple: #b102b7;

$border-width: 1.5px;
$border: $border-width solid $border-color;

/** Basic styling */
html {
    scroll-padding-top: $header-size + 62px;
    scroll-behavior: smooth;
}

/* Light Theme Mode */
@mixin LightTheme() {
    /* Font Colors */
    --heading-color: hsl(0, 0%, 0%);
    --body-color: hsl(0, 0%, 0%);
    --subheading-color: hsl(0, 0%, 40%);

    /* Background Colors */
    --background-color: hsl(0, 0%, 100%);
    --background-hover: hsl(0, 0%, 90%);
    --background-light-color: hsl(0, 0%, 100%);
    --background-light-hover: hsl(0, 0%, 96%);

    /* Layout Colors */
    --button-color: var(--background-light-color);
    --border-color: hsl(0, 0%, 0%);
}

html, html[data-theme="light"] {
    @include LightTheme();
}

/* Dark Theme Mode */
@mixin DarkTheme() {
    /* Font Colors */
    --heading-color: hsl(0, 0%, 100%);
    --subheading-color: hsl(0, 0%, 70%);
    --body-color: hsl(0, 0%, 80%);

    /* Background Colors */
    --background-color: hsl(0, 0%, 0%);
    --background-hover: hsl(0, 0%, 10%);
    --background-light-color: hsl(0, 0%, 10%);
    --background-light-hover: hsl(0, 0%, 14%);

    /* Layout Colors */
    --button-color: var(--background-light-color);
    --border-color: hsl(0, 0%, 100%);
}

html[data-theme="dark"] {
  @include DarkTheme();
}


@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
        @include DarkTheme();
    }

    html[data-theme="light"] {
        @include LightTheme();
  } 
}

body {
    font: 400 16px/1.5 $body-font;
    color: var(--body-color);
    background: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    transition: $transition;

    background-size: 150% 150%;
    background-position: center center;
    background-attachment: fixed;
    animation: gradient 20s infinite linear;
}

hr {
    border: none;
    height: $border-width;
    color: var(--border-color);
    background-color: var(--border-color);
    margin-top: $inner-padding;
    margin-bottom: $inner-padding;
    width: 100%;
}

pre,
code {
    background: $body-color;
    border: none;
    color: $body-color;
    font-family: $body-font;
    padding: 1em;
}

code {
    padding: 0.25em;
}

blockquote {
    color: $body-color;
    border-left-color: $border-color;
    letter-spacing: 0;
    padding-left: 1em;
    font-size: 1.15em;
}

.emphasis {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 1em;
}

ul, ol {
    margin-left: 1.25em;
}

small,
.text_small {
    font-size: 0.8em;
}

strong {
    color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
    font-family: $heading-font;
    color: var(--heading-color);
    line-height: 1;
    margin-bottom: 1em;
    font-weight: 400;

    &.title {
        display: block;
        margin-bottom: 1em;
    }

    @media (max-width: $tablet-size) {
        -ms-word-break: break-all;
        word-break: break-all;

        /* Non standard for WebKit */
        word-break: break-word;
    }
}

/** Headings */
.display {
    font-size: 4.768rem;

    @media (max-width: $tablet-size) {
        font-size: 3.052rem;
    }
}

h1,
.h1 {
    font-size: 3.052rem;

    @media (max-width: $tablet-size) {
        font-size: 2.441rem;
    }
}

h2,
.h2 {
    font-size: 2.441rem;

    @media (max-width: $tablet-size) {
        font-size: 1.953rem;
    }
}

h3,
.h3 {
    font-size: 1.953rem;

    @media (max-width: $tablet-size) {
        font-size: 1.563rem;
    }
}

h4,
.h4 {
    font-size: 1.563rem;

    @media (max-width: $tablet-size) {
        font-size: 1.25rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;

    @media (max-width: $tablet-size) {
        font-size: 1rem;
    }
}

h6,
.h6 {
    font-size: 1rem;
}

.subtitle {
    font-family: $heading-font;
    display: block;
    color: var(--body-color);
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
    text-transform: none;
    margin-bottom: 1em;

    @media (max-width: $tablet-size) {
        font-size: 1.125rem;
    }
}

ul.tags {
    display: block;
    margin: 0;

    .tag {
        font-size: 0.875rem;
        font-weight: 500;
        display: inline-block;
        padding: 0.25rem 0.75rem;
        border-radius: $border-radius / 2;
        border: $border-width solid var(--border-color);
        margin-bottom: 0.5rem;

        &::before {
            display: none;
        }
    }
}

/* Links */
a {
    color: var(--heading-color);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

a:visited {
    color: var(--heading-color);
}

a:hover {
    color: var(--heading-color);
    text-decoration: underline;
}

/** Layouts and Components **/

.page-content {
    padding: 0;
}

@mixin hover-effect ($color) {
    box-shadow: 6px 6px 0 0 $color;
    -webkit-transform: translate(-6px, -6px);
    -ms-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
}

@mixin border-bottom {
    border-bottom: 2px solid shade($foreground, 40%);
}

section {
    display: flex;
    flex-direction: column;
    padding: $padding*2 $padding*2;
    align-items: center;

    &.hero {
        gap: 0;
        align-items: center;
        justify-content: center;

        .subheading {
            font-size: 1.563rem;
    
            @media (max-width: $tablet-size) {
                font-size: 1.25rem;
            }
        }

        .subtitle {
            font-size: 1.563rem;

            @media (max-width: $tablet-size) {
                font-size: 1.25rem;
            }
        }
        
        .page-title {
            box-sizing: border-box;
            max-width: 46rem;
            margin: 0;
            visibility: hidden;
            will-change: transform, opacity;
            
            .title, .subtitle {
                flex: 1;
            }

            .title {
                margin-bottom: 0.5em;

            }

            @media (max-width: $tablet-size) {
                gap: $inner-padding;
                flex-direction: column;
            }
        }
    }

    .subtitle {
        font-family: $heading-font;
        color: var(--subheading-color);
        margin-bottom: 0;

        @media (max-width: $tablet-size) {
            margin-bottom: 1em;
            font-size: 1.125rem;
        }
    }

    &.section-row {
        padding: 0;

        .row {
            gap: 0;
            padding: 0;
            margin-bottom: 0;

            &:not(:last-child) {
                border-bottom: $border-width solid var(--border-color);
            }

            .col {
                padding: $padding;

                @media (max-width: $tablet-size) {
                    padding: $inner-padding;
                }
            }
        }
    }

    .section-title {
        .subheading {
            font-size: 1.25rem;
    
            @media (max-width: $tablet-size) {
                font-size: 1.125rem;
            }
        }

        .title {
            max-width: 20ch;

            @media (max-width: $tablet-size) {
                max-width: initial;
            }
        }
    }

    @media (max-width: $tablet-size) {
        flex-wrap: wrap;
        flex-direction: initial;
        padding: $padding;
    }
}

.subheading {
    color: var(--subheading-color);
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.icon-fill {
    background: var(--background-light-color);
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: $border-width solid var(--border-color);
    border-radius: 50%;
    margin-bottom: $inner-padding;
    display: flex;
    align-items: center;
    justify-content: center;

    .material-symbols-outlined {
        line-height: 1;
        color: var(--heading-color);
    }
}

.material-symbols-outlined {
    font-size: 1.125rem;
    vertical-align: middle;

    &.icon {
        width: fit-content;
        font-size: 1.5rem;

        @media (max-width: $tablet-size) {
            font-size: 1.5rem;
        }
    }
}

.large-text {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1em;
    max-width: $character-width;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: $tablet-size) {
        font-size: 1rem;
    }
}

.card {
    transition: $transition;
    padding: $padding;
    box-sizing: border-box;
    height: 100%;

    .title {
        margin-bottom: 0;
    }

    .subtitle {
        font-size: 1.125rem;
        color: var(--subheading-color);
        margin-bottom: 1em;
    }

    &.--inverted {
        background: var(--heading-color);

        .title {
            color: var(--background-color);
        }

        .large-text {
            color: var(--subheading-color);
            font-size: 1.25rem;

            @media (max-width: $tablet-size) {
                font-size: 1.125rem;
            }
        }

        .button {
            background: var(--background-color);
            color: var(--heading-color);

            &:hover {
                background: var(--background-light-color);
                color: var(--heading-color);
            }

            &.outline {
                background: none;
                color: var(--background-color);

                &:hover {
                    background: var(--background-light-color);
                }
            }
        }
    }

    &.--large {
        padding-top: $padding * 2;
        padding-bottom: $padding * 2;

        @media (max-width: $tablet-size) {
            padding-top: $inner-padding;
            padding-bottom: $inner-padding;
        }
    }

    &.--horizontal {
        display: flex;
        gap: 0;

        .image-wrapper, .content {
            flex: 1;
        }
    }

    .subhead {
        color: var(--subheading-color);
        font-size: 1.125rem;
        display: block;
    }

    .description {
        font-size: 1.125rem;
        margin-bottom: 1em;
    }

    &.image {
        display: flex;
        flex-direction: column;
        gap: $padding;
        position: relative;
        padding: 0;
        border: none;

        hr {margin: 0}

        img {
            transition: $transition;
            box-sizing: border-box;
        }

        .content {
            justify-content: space-between;
            display: flex;

            .title {
                color: var(--heading-color);
            }

            .subtitle {
                font-size: 1.25rem;
                color: var(--subheading-color);
                margin-bottom: 0;

                @media (max-width: $tablet-size) {
                    font-size: 1.125rem;
                }
            }
            
        }

        .image-wrapper {
            flex: 1;
            display: flex;
            overflow: hidden;

            img {
                object-fit: cover;
                object-position: left;
            }
        }

        .card-button {
            display: flex;
            align-items: center;
            height: fit-content;
        }

        &:hover {
            .title {
                text-decoration: underline;
                text-decoration-thickness: 1.5px;
            }
        }

        @media (max-width: $tablet-size) {
            flex-direction: column;
        }
    }

    a.hidden:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        transition: $transition;
    }

    @media (max-width: $tablet-size) {
        padding: $inner-padding;
    }
}

.button, .button:visited {
    display: inline-block;
    width: fit-content;
    font-size: 1rem;
    background: var(--heading-color);
    color: var(--background-color);
    padding: 1rem 1.5rem;
    text-align: center;
    box-sizing: border-box;
    transition: $transition;
    line-height: 1.15;

    @media (max-width: $tablet-size) {
        font-size: 0.875rem;
    }

    &.full-width {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.secondary {
        background: none;
        color: $body-color;
        font-weight: 500;
        padding: 0;
        margin-top: $gap;
        border: none;

        .material-symbols-outlined {
            position: absolute;
            margin-left: 0.25em;
        }
    
        &:hover {
            text-decoration: underline;
            background: none;
        }
    }

    &.inverted {
        background: var(--heading-color);
        color: var(--background-color);
    }

    &.outline {
        background: none;
        color: var(--heading-color);
        border: $border-width solid var(--border-color);

        &:not(:last-child) {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

    &.tertiary {
        background: none;
        color: var(--heading-color);

        &:hover {
            background: var(--background-hover);
            color: var(--heading-color);
        }
    }

    &:hover {
        text-decoration: underline;
    }
}

/* Navigation Bar */
.site-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    transition: $transition;
    min-height: initial;
    right: 0;
    left: 0;
    width: initial;
    border-top: none;
    border: none;
    background: var(--background-color);
    padding: 0 $padding*2;
    transition: $transition;

    @media (max-width: $tablet-size) {
        padding: 0 $padding;
    }

    &.scrolled {
        .nav-container {
            border-bottom: $border-width solid var(--border-color);
        }
    }

    hr {
        display: none;
        margin: 0;

        &.scrolled {
            display: block;
        }
    }
}

.nav-container {
    max-width: $max-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: $border-width solid rgba(0,0,0,0);
    transition: $transition;

    a.site-title, &:visited {
        justify-self: left;
        font-family: $heading-font;
        color: var(--heading-color);
        font-size: 1.563rem;
        font-weight: 400;
        line-height: 1;
        transition: $transition;
        text-decoration: none;
        letter-spacing: 0;

        @media (max-width: $tablet-size) {
            font-size: 1.25rem;
        }
    }

    .nav-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    nav {
        display: flex;
        height: 100%;
        box-sizing: border-box;
        gap: $padding;
        align-self: center;

        a {
            line-height: 1;
            transition: $transition;

            &#theme-toggle {
                cursor: pointer;
            }
        }

        @media (max-width: $tablet-size) {
            flex-direction: column;
            margin-top: 1.5rem;
            align-self:baseline;
        }
    }

    @media (max-width: $tablet-size) {
        padding: 1.5rem 0;
        flex-direction: column;
    }
}

.row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: $max-width;
    width: 100%;
    gap: $padding * 2;

    &:not(:last-child) {
        margin-bottom: $inner-padding;
    }

    .col {
        flex: 1;
        display: flex;
        flex-direction: column;

        &.--vertical {
            flex-direction: column;
        }

        .row:not(:first-child) {
            margin-top: $inner-padding;
        }

        &.lg-width {
            max-width: 46rem;
            width: 100%;
        }
    }

    &.--vertical {
        flex-direction: column;
    }

    &.--horizontal {
        flex-direction: row;
    }

    @media (max-width: $tablet-size) {
        flex-direction: column;
        gap: $gap / 2;
        max-width: 100%;
    }
}

@keyframes gradient {
    0% {
        background-position: top left;
    }
	25% {
		background-position: bottom right;
	}
	50% {
		background-position: top right;
	}
    75% {
		background-position: bottom left;
	}
    100% {
        background-position: top left;
    }
}


/* Landing Page */
.landing-page {
    section.hero {
        margin-top: $padding * 2;

        @media (max-width: $tablet-size) {
            margin-top: 0;
        }
    }

    section.select-work {
        .section-title {
            max-width: $max-width;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .button {
                height: fit-content;
            }
        }

        .row {
            flex-direction: column;

            hr {
                margin-top: 0;
                margin-bottom: $padding;
            }

            .card {
                flex-direction: row;

                @media (max-width: $tablet-size) {
                    flex-direction: column;
                }

                .content {
                    flex: 1;
                    flex-direction: column;
                    gap: $gap;

                    .subheading {
                        font-size: 1.125rem;
                    }
                }

                .image-wrapper {
                    flex: 2;
                }

                .material-symbols-outlined {
                    font-size: 1rem;
                    margin-left: 0.25rem;
                }


                .button:hover {
                    .material-symbols-outlined {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

footer.site-footer {
    border-top: none;
    padding-top: 0;
    padding-left: $padding*2;
    padding-right: $padding*2;
    padding-bottom: $padding*2;
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
        margin-top: 0;
        margin-bottom: $padding * 2;

        @media (max-width: $tablet-size) {
            margin-bottom: $padding;
        }
    }

    .footer {
        .title {
            margin: 0;
        }

        .col:last-child {
            align-items: end;
            justify-content: center;

            nav {
                display: flex;
                gap: $gap;

                @media (max-width: $tablet-size) {
                    flex-direction: column;
                }
            }

            @media (max-width: $tablet-size) {
                align-items: start;
            }
        }

        .credit {
            color: var(--subheading-color);
            margin-top: 1rem;
        }
    }

    @media (max-width: $tablet-size) {
        padding-left: $padding;
        padding-right: $padding;
        padding-bottom: $padding;
    }
}

.container {
    max-width: $max-width;
    width: 100%;
    display: flex;
    gap: $gap;
    align-items: end;
    justify-content: space-between;

    @media (max-width: $tablet-size) {
        flex-direction: column;
    }
}

/* About Page */
body.about {
    section.hero {
        .col:first-child {
            align-self: flex-end;
        }
    }

    section.biography {
        .col:last-child {
            flex: 2;
        }

        .image {
            border-radius: $border-radius;
            aspect-ratio: 4 / 3;
            object-fit: cover;
        }
    }

    section.work {
        .row {
            .col:last-child {
                flex: 2;
            }
        }

        .button-list {
            display: flex;
            gap: $gap;
            margin-top: 1rem;

            @media (max-width: $tablet-size) {
                gap: $inner-padding;
            }
        }

        .subheading:not(:first-child) {
            margin-top: 1rem;
        }
    }

    section.skill {
        .row {
            .col:last-child {
                flex: 2;
            }
        }

        .h3.title:not(:first-child) {
            margin-top: 1rem;
        }       
    }
}

section.contact-me {
    .row {
        justify-content: center;

        .button {
            margin-bottom: 1rem;
        }
    }
}

/* Projects Page */
body.work {
    section.hero {
        .title {
            margin-bottom: 0;
        }
    }

    section.work-and-projects {
        .row {
            flex-wrap: wrap;
            gap: $padding;
            row-gap: $padding * 2;
            box-sizing: border-box;
            align-items: stretch;

            .col {
                flex: initial;
                width: calc(50% - 1rem);
                transition: $transition;
                flex-direction: row;

                @media (max-width: $tablet-size) {
                    width: 100%;
                }
            }

            @media (max-width: $tablet-size) {
                row-gap: $padding;
            }
        }
    }
}

.list {
    display: flex;
    flex-direction: row;
    gap: $inner-padding;
    margin-top: $inner-padding;
    margin-bottom: $inner-padding;

    .list-item {
        display: flex;
        flex-direction: column;
        flex: 1;

        .list-title {
            font-family: $heading-font;
            line-height: 1;
            font-size: 1.125rem;
            color: var(--heading-color);
            margin-bottom: 1rem;
            font-weight: 500;

            .material-symbols-outlined {
                margin-right: 0.25rem;
                vertical-align: -2px;
            }

            &:not(:first-child) {
                margin-top: 0.75rem;
            }
        }

        ul.list-content {
            list-style: none;
            margin: 0;

            li:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: $tablet-size) {
        flex-direction: column;
    }
}

/* Post Page */
.post-page {
    section.hero {
        .container {
            flex-direction: column;
            align-items: start;;
        }
    }
    .post-info {
        .row {
            .col:last-child {
                flex: 2;
            }
        }
    }

    .post-content {
        margin-bottom: 0;

        .row {
            flex-wrap: wrap;
            gap: $gap;

            img, .wistia_responsive_padding {
                overflow: hidden;
            }

            &:last-child {
                margin-bottom: 0;
            }

            img, .wistia_responsive_padding {
                width: 100%;
            }
        }
    }

    .post-navigation {
        padding-top: 0;

        .row {
            gap: $gap;
        }
    }
}

/* Toggle Menu */


@keyframes span1 {
    0%   { top: 0%; transform-origin: 50% 50%;}
    50%  { top: 50%; transform: rotate(0deg) translateY(-50%);}
    100% { top: 50%; transform: rotate(45deg) translateY(-50%);}
}
@keyframes span2 {
    0%   {opacity: 1;}
    45%  {opacity: 1;}
    65%  {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes span3 {
    0%   { bottom: 0%; transform-origin: 50% 50%;}
    45%  { bottom: 50%; transform: rotate(0deg) translateY(50%);}
    100% { bottom: 50%; transform: rotate(-45deg) translateY(50%);}
}

#togglemenu {display: none;}

@media (max-width: $tablet-size) {
    #menu {display: none;}
    .menuopen #menu {display: flex;}
    #togglemenu {display: block; cursor: pointer;}
}

#togglemenu > span {display: inline-block; margin-left: 0.4rem; width: 1.1rem; height: 0.75rem; position: relative; vertical-align: middle; position: relative; bottom: 1px;}
#togglemenu > span > span {display: block; position: absolute; width: 100%; height: 1.5px; background: var(--heading-color);}
#togglemenu > span > span:nth-child(1) {top: 0; transform-origin: 50% 0%;}
#togglemenu > span > span:nth-child(2) {top: 50%; margin-top: -1px;}
#togglemenu > span > span:nth-child(3) {bottom: 0; transform-origin: 50% 100%;}

.menuopen #togglemenu > span > span:nth-child(1) {
    animation: span1 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menuopen #togglemenu > span > span:nth-child(2) {
    animation: span2 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}
.menuopen #togglemenu > span > span:nth-child(3) {
    animation: span3 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}